---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
import ExternalLink from "../components/external-link.astro";
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between gap-32">
          <div class="space-y-4 sm:space-y-12">
               <H1> Hi, I'm Hiep</H1>

               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    I design products, lead teams, and chase ideas that make people’s days a little easier, or at least more interesting.
               </p>
               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">                    
                    Good conversations often start with a simple “hello”. Drop me one at
                    <a href="mailto:mark.hiep.dang@gmail.com" class="mb-8 w-fit group flex items-center gap-1 text-base lg:text-xl text-zinc-400 hover:text-zinc-50">
                         mark.hiep.dang@gmail.com
                         <svg xmlns="http://www.w3.org/2000/svg" class="-rotate-45 group-hover:rotate-0 transition-all duration-300 ease-in-out" width="24" height="24" viewBox="0 0 24 24">
                              <title>Arrow Icon</title>
                              <path fill="currentColor" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10" opacity=".5"/>
                              <path fill="currentColor" d="M13.53 8.47a.75.75 0 1 0-1.06 1.06l1.72 1.72H8a.75.75 0 0 0 0 1.5h6.19l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3a.75.75 0 0 0 0-1.06z"/>
                         </svg>
                    </a>     
               </p>               
                              
          </div>

          <div class="space-y-2 text-base sm:text-lg">
               <h2 class="text-zinc-400 underline underline-offset-4 decoration-zinc-500">Connect on other sites</h2>

               <ul class="px-4 text-zinc-400 list-disc list-outside">
                    <li><ExternalLink href="https://www.linkedin.com/in/hiep-dang/">LinkedIn</ExternalLink></li>                    
               </ul>
          </div>
     </div>
</InfoLayout>
