---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between gap-32">
          <div class="space-y-4 sm:space-y-12">
               <H1> About us </H1>

               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    The Hague Policy Hackathon (THPH) is a newly founded hackathon event in The Hague, Netherlands. During this 2.5 days competition event, students and young professionals form multidisciplinary teams to develop data-informed policies and/or policy tools to tackle pressing societal issues relevant within the Dutch national government's policy landscape. The challenges are provided by  government and policy stakeholders. At the core, the event champions research and innovation at the interdisciplinary intersection between technology and policy. The event has already been succesfully held in Amsterdam and is inspired by the MIT Policy Hackathon, which is a similar competition held annually at the Massachusetts Institute of Technology.
                    <br /><br />
                    THPH is an event initiated by the Data for Public Impact Network (DPIN) and co-organized with the Hague Effective Altruism (THEA).
                    
                    <br /><br /> Register your interest now!
               </p>
          </div>
     </div>
</InfoLayout>
