---
import H1 from "../components/h1.astro";
import H2 from "../components/h2.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between gap-32">
          <div class="space-y-4 sm:space-y-12">
               <H1> Frequently Asked Questions </H1>

               <H2 size="default"> For who is this event?</H2>
               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    We welcome anyone with a strong interest in interdisciplinary and evidence-based policymaking. Technical skills (e.g., programming) are not strictly required. While we generally target university students and young professionals, anyone can register as participant. Students from various study backgrounds are welcome to participate.
               </p>

               <H2 size="default"> What is a "policy hackathon"? </H2>
               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    A policy hackathon takes on the format of a traditional hackathon, but with a broader and socially-oriented focus on creating policy rather than only technical applications or code solutions. Therefore, while we welcome designs or demos of technical solutions that could enhance policymaking, they are not mandatory. The emphasis of the event is on crafting innovative, evidence-based, and impactful policy proposals, in many cases also enhanced by rigorous data analysis.
               </p>
               
               <H2 size="large"> Practical Information</H2>

               <H2 size="default"> Is the event in-person? </H2>
               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    Yes, the HPH is an in-person event and we do not offer any online attendance options.
               </p>

               <H2 size="default"> What are the costs for attending the hackathon? </H2>
               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    Participation in the hackathon is free of charge. However, participants are responsible for covering their own travel and accommodation expenses.
               </p>
               

               
               <br>

          </div>
     </div>
</InfoLayout>
