---
import H1 from "../components/h1.astro";
import H2 from "../components/h2.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between gap-32">
          <div class="space-y-4 sm:space-y-12">
               <H1> Frequently Asked Questions </H1>

               <H2 size="default"> For who is this event?</H2>
               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    For you.
               </p>
               
               <H2 size="large"> Practical Information</H2>
               <H2 size="default"> Is the event in-person? </H2>
               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    Yes, the HPH is an in-person event and we do not offer any online attendance options.
               </p>
               

               
          </div>
     </div>
</InfoLayout>
